# pip install -r requirements.in
matplotlib==3.7.2
scikit_learn
tableone==0.8.0
ydata-profiling
numpy
pandas
# pandas-profiling
# pydantic-settings
pymongo
python-dotenv
streamlit
streamlit_pandas_profiling
tqdm



